body, html {
  margin: 0;
	padding: 0;
	height: 100%;
}

.error-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  display: none;
}

.App {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	font-size: calc(10px + 2vmin);
	color: white;
}

.trashButton{
    background-color: #282c34;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

th:first-child, td:first-child {
  width: 90%; /* adjust this value to match the desired width */
}

th:last-child, td:last-child {
  text-align: center;
  width: 10%; /* adjust this value to match the desired width */
}
input[type="text"] {
  height: 20px;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}